$option-height: 50px;

@mixin option-style($background: #fff, $box-shadow-color: #CDCDCD) {
    border-radius: $border-radius;
    box-shadow: 0px 4px 0px 0px $box-shadow-color;
    padding: 8px;
    background: $background;
    height: $option-height;
}

#answer-quiz {
    .answer-quiz {
        &__number {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 2px 0px 0px #cdcdcd;
        }
        &__message {
            display: none;
            color: #fff;
            font-size: 1.5em;
            &--shown {
                display: block;
            }
        }
        &__options {
            width: 90%;
            padding: 16px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &--choosable {
                position: relative;
                display: flex;
                align-items: center;
                margin-right: 16px;
                margin-bottom: 20px;
                flex-basis: calc(50% - 8px);
                padding: 16px;
                border-radius: $border-radius;
                border: none;
                color: #fff;
                cursor: pointer;
                transition: background-color 0.2s linear;
                &:nth-child(1) {
                    @include option-style(#e21b3c, #c01733);
                }
                &:nth-child(2) {
                    @include option-style(#1368ce, #1059af);
                }
                &:nth-child(3) {
                    @include option-style(#d89e00, #b88700);
                }
                &:nth-child(4) {
                    @include option-style(#26890c, #20750a);
                }
                &:nth-child(2n) {
                    margin-right: 0px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #ffffff00;
                    border-radius: $border-radius;
                    transition: background-color .2s linear,
                                transform 0.05s linear;
                }
                &:hover::after {
                    background-color: #ffffff3a;
                }
                &:active {
                    transform: scale(0.95);
                }
                &:not(.answer-quiz__options--choosable--chosen):not(.answer-quiz__options--choosable--correct):disabled {
                    @include option-style(#474747, #757575);
                    pointer-events: none;
                    cursor: default;
                }
                &--chosen:disabled {
                    pointer-events: none;
                    cursor: default;
                    &::after {
                        background-color: #ffffff3a;
                    }
                }
                &--correct {
                    transform: scale(1.05);
                    pointer-events: none;
                    cursor: default;
                    &::before {
                        content: '';
                        background-image: url('../images/green-tick-mark.png');
                        background-size: 20px 20px;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}