* {
	box-sizing: inherit;
	font-size: 12px;
	&::before {
		box-sizing: inherit;
	}
	&::after {
		box-sizing: inherit;
	}
}
html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
p {
	line-height: 1.6;
	margin: 0 0 1rem 0;
}
li {
	line-height: 1.6;
}
ul {
	padding: 0 0 0 20px;
}
ol {
	padding: 0 0 0 20px;
}
figure {
	margin: 0;
}
img {
	vertical-align: middle;
}
video {
	vertical-align: middle;
}
.deck {
	overflow: hidden;
	font-feature-settings: "kern" 1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:not(.bespoke-parent) {
		display: none;
	}
	section {
		&:not(.bespoke-slide) {
			display: none;
		}
	}
}
.bespoke-parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.bespoke-scale-parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
}
.bespoke-slide {
	pointer-events: none;
	overflow: hidden;
	opacity: 0;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	margin-left: -320px;
	height: 480px;
	margin-top: -240px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity 200ms ease-in-out 150ms;
}
.bespoke-active {
	pointer-events: auto;
	opacity: 1;
	z-index: 1;
}
.bespoke-inactive {
	transition-delay: 0;
}
.bespoke-bullet {
	transition: opacity 200ms ease-in-out;
}
.bespoke-bullet-inactive {
	visibility: hidden;
}
.emphatic {
	background-color: #222;
}
.emphatic-text {
	color: #fff;
}
aside[role=note] {
	display: none;
}
aside[role=notes] {
	display: none;
}
[class$="title"] {
	color: #fff;
	font-family: 'Mountains of Christmas', cursive;
	font-size: 4em;
}
.rainbow-bg {
	animation: rainbow-bg 30s linear;
    animation-iteration-count: infinite;
}  
@keyframes rainbow-bg {
	100%, 0% {
		background-color: #f00;
	}

	8% {
		background-color: #db6e00;
	}

	16% {
		background-color: rgb(231, 208, 0);
	}

	25% {
		background-color: #72e400;
	}

	33% {
		background-color: rgb(0, 212, 0);
	}

	41% {
		background-color: #00c261;
	}

	50% {
		background-color: rgb(0, 194, 194);
	}

	58% {
		background-color: #007fff;
	}

	66% {
		background-color: #00f;
	}

	75% {
		background-color: #7f00ff;
	}

	83% {
		background-color: rgb(214, 0, 214);
	}

	91% {
		background-color: #ff007f;
	}
}