$quiz-preview-border-color: rgb(229, 229, 229);
$quiz-preview-unselected-text-color: #777;
$quiz-preview-background-unselected: #f2f2f2;
$quiz-preview-background-selected: #fff;
$quiz-preview-background-border-hovered: #ddd;
$quiz-list-item-background-selected: #eaf4fc;
$delete-question-hover-color: #eee;

$add-quiz-button-size: $button-height;

#create-quiz {
  display: flex;
  justify-content: column;
  main {
    width: 100%;
    flex-basis: 80%;
  }
  aside {
    width: 100%;
    background: $on-primary;
    box-shadow: 0px -5px 8px 0px rgba(97,97,97,0.71);
    flex-basis: 20%;
    display: flex;
    align-items: stretch;
    > :first-child {
      flex-basis: 90%;
    }
    > :last-child {
      flex-basis: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #create-quiz__add-question-button {
      width: $add-quiz-button-size;
      height: $add-quiz-button-size;
      min-width: $add-quiz-button-size;
      font-size: 1.25rem;
    }
    .create-quiz__list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      height: 100%;
      scrollbar-width: thin;
      overflow: auto;
      &__item {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 8px;
        flex-basis: 160px;
        font-size: 9px;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;
        &:hover {
          .create-quiz__list__item--right > div {
            box-shadow: 0px 0px 0px 2px $quiz-preview-background-border-hovered;
          }
        }
        &--left {
          flex-basis: 12.5%;
          text-align: right;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: $quiz-preview-unselected-text-color;
          > :first-child {
            font-weight: bolder;
          }
          img {
            width: 100%;
            border-radius: 50%;
            padding: 4px;
            cursor: pointer;
            &:hover {
              background-color: $delete-question-hover-color;
            }
          }
        }
        &--right {
          display: flex;
          flex-basis: 87.5%;
          flex-direction: column;
          padding-left: 8px;
  
          > * {
            margin: 0;
          }
          > :first-child {
            font-weight: bolder;
            color: $quiz-preview-unselected-text-color;
          }
  
          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.75em;
            margin-top: 4px;
            width: 100%;
            background: $quiz-preview-background-unselected;
            border-radius: $border-radius;
            padding: 4px;
            flex-grow: 1;
            font-weight: 300;
          }
          &__question {
            text-align: center;
          }
          &__timer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            margin-top: 4px;
            width: 15px;
            height: 15px;
            border: 0.1px solid $quiz-preview-border-color;
          }
          &__options {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            margin-top: 8px;
            div {
              flex-basis: calc(50% - 2px);
              border: 0.1px solid $quiz-preview-border-color;
              margin-right: 2px;
              margin-bottom: 2px;
            }
            div:nth-child(2) {
              margin-right: 0px;
            }
          }
        }
        &--active {
          background: $quiz-list-item-background-selected;
          .create-quiz__list__item--left {
            color: #000;
          }
          .create-quiz__list__item--right :first-child {
            color: #000;
          }
          .create-quiz__list__item--right > div {
            background: $quiz-preview-background-selected;
          }
          &:hover {
            .create-quiz__list__item--right > div {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}