@use "@material/textfield";

$quiz-preview-border-color: rgb(229, 229, 229);
$quiz-preview-unselected-text-color: #777;
$quiz-preview-background-unselected: #f2f2f2;
$quiz-preview-background-selected: #fff;
$quiz-preview-background-border-hovered: #ddd;
$quiz-list-item-background-selected: #eaf4fc;
$delete-question-hover-color: #eee;
$add-quiz-button-size: $button-height;

$question-input-height: 50px;
$input-background: #f7f7f7;

@mixin input-style($background: #fff, $box-shadow-color: #CDCDCD) {
  border-radius: 5px;
  box-shadow: 0px 4px 0px 0px $box-shadow-color;
  padding: 8px;
  border: none;
  background: $background;
  height: $question-input-height;
}

@mixin radio-input-style($color) {
  width: 12px;
  height: 12px;
  border: 2px solid $color;
  transition: 0.2 all linear;
  &:checked {
    border: 8px solid $color;
  }
}

#create-quiz {
  display: flex;
  justify-content: column;
  main {
    width: 100%;
    flex-basis: 80%;
    background: $input-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    #create-quiz__input--question {
      width: 90%;
      text-align: center;
      font-size: 1.75em;
      margin-bottom: 16px;
      @include input-style;
    }
    .create-quiz__input--timer {
      display: flex;
      flex-direction: column;
      justify-content: cneter;
      align-items: center;
      input {
        @include input-style;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        -moz-appearance: textfield;
        box-shadow: 0px 1px 0px 0px #CDCDCD;
        font-weight: 700;
        font-size: 1.5em;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
    .create-quiz__input--options {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 16px;
      > div {
        position: relative;
        margin-bottom: 8px;
        margin-right: 8px;
        flex-basis: calc(50% - 4px);
        &:nth-child(1) input {
          @include input-style(#e21b3c, #c01733);
        }
        &:nth-child(2) input {
          @include input-style(#1368ce, #1059af);
        }
        &:nth-child(3) input {
          @include input-style(#d89e00, #b88700);
        }
        &:nth-child(4) input {
          @include input-style(#26890c, #20750a);
        }
        input {
          padding: 8px;
          @include input-style;
          &[type="text"] {
            width: 100%;
            color: #fff;
          }
          &[type="radio"] {
            padding: 0;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateX(-8px) translateY(-50%);
            z-index: 1;
            cursor: pointer;
            box-shadow: 0px 2px 0px 0px #33333355;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            border: 2px solid #fff;
            transition: 0.2s all linear;
            &:checked::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 8.5px;
              height: 8.5px;
              background: #66bf39;
              border-radius: 50%;
              transition: 0.2s all linear;
              z-index: 2;
            }
          }
        }
      }
      > div:nth-child(2n) {
        margin-right: 0px;
      }
    }
  }
  aside {
    width: 100%;
    background: $on-primary;
    box-shadow: 0px -5px 8px 0px rgba(97,97,97,0.71);
    flex-basis: 20%;
    display: flex;
    align-items: stretch;
    > :first-child {
      flex-basis: 90%;
    }
    > :last-child {
      flex-basis: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #create-quiz__add-question-button {
      width: $add-quiz-button-size;
      height: $add-quiz-button-size;
      min-width: $add-quiz-button-size;
      font-size: 1.25rem;
    }
    .create-quiz__list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      height: 100%;
      scrollbar-width: thin;
      overflow: auto;
      &__item {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 8px;
        flex-basis: 160px;
        font-size: 9px;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;
        &:hover {
          .create-quiz__list__item--right > div {
            box-shadow: 0px 0px 0px 2px $quiz-preview-background-border-hovered;
          }
        }
        &--left {
          flex-basis: 12.5%;
          text-align: right;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: $quiz-preview-unselected-text-color;
          > :first-child {
            font-weight: bolder;
          }
          img {
            width: 100%;
            border-radius: 50%;
            padding: 4px;
            cursor: pointer;
            &:hover {
              background-color: $delete-question-hover-color;
            }
          }
        }
        &--right {
          display: flex;
          flex-basis: 87.5%;
          flex-direction: column;
          padding-left: 8px;
  
          > * {
            margin: 0;
          }
          > :first-child {
            font-weight: bolder;
            color: $quiz-preview-unselected-text-color;
          }
  
          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.75em;
            margin-top: 4px;
            width: 100%;
            background: $quiz-preview-background-unselected;
            border-radius: $border-radius;
            padding: 4px;
            flex-grow: 1;
            font-weight: 300;
          }
          &__question {
            text-align: center;
          }
          &__timer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 50%;
            margin-top: 4px;
            width: 15px;
            height: 15px;
            border: 0.1px solid $quiz-preview-border-color;
          }
          &__options {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            margin-top: 8px;
            div {
              flex-basis: calc(50% - 2px);
              border: 0.1px solid $quiz-preview-border-color;
              margin-right: 2px;
              margin-bottom: 2px;
            }
            div:nth-child(2) {
              margin-right: 0px;
            }
          }
        }
        &--active {
          background: $quiz-list-item-background-selected;
          .create-quiz__list__item--left {
            color: #000;
          }
          .create-quiz__list__item--right :first-child {
            color: #000;
          }
          .create-quiz__list__item--right > div {
            background: $quiz-preview-background-selected;
          }
          &:hover {
            .create-quiz__list__item--right > div {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}