#dashboard {
    .mdc-card {
        width: 65%;
        padding: 16px 32px;
        .dashboard__header {
            font-size: 1.8em;
            margin: 0;
            &__welcome {
                font-size: 0.6em;
                font-weight: lighter;
            }
        }
    }

    article {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 16px;
        margin-bottom: 16px;
        .dashboard__desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            flex-basis: 25%;
            &--number {
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 50%;
                border: 0.5px solid $primary;
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1rem;
                padding: 0.5rem;
                background: $on-primary;
                color: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &--img {
                width: 100%;
                border-radius: 50%;
                border: 0.5px solid $primary;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}