#join-dashboard {
    .join-dashboard {
        &__title {
            color: white;
            font-size: 2em;
        }
        &__lobby {
            width: 90%;
            padding: 16px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 16px;
            &--member {
                padding: 8px 16px;                
                background: white;
                border-radius: 20px;
                margin-right: 8px;
                box-shadow: 0px 2px 0px 0px #CDCDCDee;
            }
        }
    }
}