@use "@material/textfield";

#join {
    position: relative;
    [class$="title"] {
        color: #fff;
    }
    .mdc-banner {
        position: absolute;
        top: 0;
    }
    #join__login-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1em;
        * {
            font-size: 0.75em;
            color: #fff;
        }
    }
    main {
        width: 30%;
        &> * {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}