$primary: #333333;
$on-primary: #fff;
$button-height: 30px;

@use "@material/theme" with (
    $primary: $primary,
    $on-primary: $on-primary
);

@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/button";
@use "@material/data-table/data-table";
@use "@material/card";
@use "@material/typography/mdc-typography";
@include button.core-styles;
@include textfield.core-styles;
@include data-table.core-styles;
@include card.core-styles;
@import "normalizecss/normalize.css";
@import "./base";
@import "./user";
@import "./login";
@import "./join";
@import "./dashboard";
@import "./create-quiz";
@import "./quiz-list";