$primary: #333333;
$on-primary: #fff;
$button-height: 30px;
$border-radius: 3px;
$success-color: #2eb85c;
$danger-color: #e55353;

@use "@material/theme" with (
    $primary: $primary,
    $on-primary: $on-primary
);

@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/button";
@use "@material/data-table/data-table";
@use "@material/card";
@use "@material/typography/mdc-typography";
@use "@material/dialog";
@use "@material/snackbar/mdc-snackbar";
@use "@material/snackbar";
@use "@material/banner/styles";
@use "@material/chips/mdc-chips";
@include button.core-styles;
@include textfield.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;
@include card.core-styles;
@include dialog.core-styles;
@import "normalizecss/normalize.css";
@import "./base";
@import "./user";
@import "./login";
@import "./join";
@import "./dashboard";
@import "./create-quiz";
@import "./quiz-list";
@import "./join-dashboard.scss";
@import "./edit-quiz";
@import "./answer-quiz";
@import "./host-quiz.scss";
@import "./quiz-ended.scss";
@import "./scoreboard.scss";
@import "./start-quiz.scss";

.mdc-snackbar.snackbar-success {
  @include snackbar.fill-color($success-color);
}
.mdc-snackbar.snackbar-danger {
  @include snackbar.fill-color($danger-color);
}
@media (min-width: snackbar.$mobile-breakpoint) {
  .mdc-snackbar {
    @include snackbar.position-leading();
  }
}
