#quiz-list {
  align-items: initial;
  justify-content: initial;
  padding: 16px;
  .nav-button {
    display: flex;
    justify-content: flex-end;
    * {
        font-size: 0.85em;
        color: #fff;
    }
  }
  .mdc-data-table__table-container {
    overflow-y: hidden;
    .mdc-data-table__cell {
      height: auto;
      padding: 8px;
      .mdc-button {
        @include button.filled-accessible(#f44336);
        padding: 0;
        height: 20px;
        min-width: 0;
        > .mdc-button__label {
          margin: 0 8px;
        }
        > .mdc-button__icon {
          margin: 0;
        }
      }
    }
    .mdc-data-table__header-cell {
      text-align: center;
      height: auto;
      padding: 8px;
      &.action-cell {
        width: 20%;
      }
    }
  }
  h1 {
    color: #fff;
    margin: 8px 0;
  }
  .text-center {
    text-align: center;
  }
}