#quiz-list {
  align-items: initial;
  justify-content: initial;
  padding: 16px;
  .nav-button {
    display: flex;
    justify-content: flex-end;
    * {
        font-size: 0.75em;
        color: #fff;
    }
  }
  .mdc-data-table__table-container {
    overflow-y: hidden;
    .mdc-data-table__cell {
      height: auto;
      padding: 8px;
      .mdc-button {
        padding: 0 8px;
        height: 20px;
        min-width: 32px;
      }
    }
    .mdc-data-table__header-cell {
      text-align: center;
      height: auto;
      padding: 8px;
    }
  }
  h1 {
    color: #fff;
    margin: 8px 0;
  }
  .text-center {
    text-align: center;
  }
}